<!DOCTYPE html>
<html lang="es">
<head>
	<title>Transiciones</title>
   	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/animated.css@3.5.1">  
   	<link rel="stylesheet" type="text/css" href="transiciones.css">  
   	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
	<section class="container-fluid" id="contenedor">
		<div class="row">
			<div class="col-12"><br>
				<button class="btn btn-primary" @click="mostrar=!mostrar">Mostrar/Ocultar</button>
			</div>
		</div><br>

		<div class="row">
			<article id="uno" class="cols-3"><br><br>
				<transition name="aparecer">
					<h2 v-if="mostrar" v-text="mensajes.transicion"></h2>
				</transition>
			</article>

			<article id="dos" class="cols-3">
				<transition name="anima">
					<h2 v-if="mostrar" v-text="mensajes.animacion"></h2>
				</transition>
			</article>

			<article id="tres" class="cols-3"><br>
				<transition name = "anime" enter-active-class="animated rotateInDownLeft" leave-active-class="animated rotateInDownRight">
					<h2 v-if="mostrar" v-text="mensajes.animacionCustom"></h2>
				</transition>
			</article>
		</div>
	</section>
</body>

<script type="text/javascript" src="VueTransition.js"></script>
</html>